@model Library.Common.ViewModels.LogInViewModel;
@{
    ViewData["Title"] = "Авторизация";
}

    <div class="container auth">

        <br /><br /><br /><br />
        <form id="authForm">

            <div class="form-group">
                <label asp-for="Login">Логин</label>
                <input type="text" class="form-control" name="Login" />
            </div>

            <div class="form-group">
                <label asp-for="Password">Ваш пароль</label>
                <input type="password" class="form-control" name="Password" value="" />
            </div>

            <div class="form-group">
                <label asp-for="RememberMe"> Запомнить меня?</label>
                <input type="checkbox" class="form-check-inline" name="RememberMe" value="true" />
            </div>

            <input type="hidden" name="RememberMe" value="false" />

        </form>

        <div class="inputs">
            <button id="auth" class="btn btn-primary" style="width:30%;">Вход</button>
            <a asp-action="Registration" class="btn btn-link float-right" asp-controller="Account">Зарегистрироваться</a>
        </div>

    </div>

