@model Library.Common.ViewModels.LogInViewModel;
@{
    ViewData["Title"] = "LogIn";
}

<h1>LogIn</h1>
<form asp-controller="Account" asp-action="LogIn" method="post">
    <label asp-for="Login">Your Email</label>
    <input type="text" name="Login" /><br />
    <label asp-for="Password">Your Password</label>
    <input type="password" name="Password" value="" /><br />
    <label asp-for="RememberMe"> Remember Me?</label>
    <input type="checkbox" name="RememberMe" value="true" /><br />
    <input type="hidden" name="RememberMe" value="false" />
    <input type="submit" name="LogIn" />
</form>
