@model Library.Common.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<form asp-controller="Account" asp-action="Registration" method="post">
    
    <label asp-for="SecondName"></label>
    <input type="text" name="SecondName"/><br />
    <label asp-for="FirstName"></label>
    <input type="text" name="FirstName"/><br />
    <label asp-for="Patronymic"></label>
    <input type="text" name="Patronymic"/><br />
    <label asp-for="Role"></label>
    <input type="text" name="Role"/><br />
    <label asp-for="PhoneNumber"></label>
    <input type="text" name="PhoneNumber"/><br />
    <label asp-for="Login"></label>
    <input type="text" name="Login"/><br />
    <label asp-for="Email"></label>
    <input type="text" name="Email"/><br />
    <label asp-for="Password"></label>
    <input type="text" name="Password"/><br />
    <label asp-for="ConfirmPassword"></label>
    <input type="text" name="ConfirmPassword"/>
    <input type="submit" name="Register"/>

</form>
