@model string;

<script type="text/javascript">

    $(document).ready(function () {

        alert('qwe');

        $('#ErrorModal').modal('show');

    });

</script>

<div id="ErrorModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> @Model </h4>
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"> Ок </button>
            </div>
        </div>
    </div>
</div>
