@using Library.Common.Enums;



@addTagHelper *, Library
@{
    ViewData["Title"] = "Все книги";

}
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/BooksScripts.js" asp-append-version="true"></script>
<div class="opt-panel pt-3 pb-5">
    <div class="search">
        <form>

            <label for="Name">Что искать</label>
            <input class="opt-input mr-2 ml-2" type="text" id="name" name="Name" style="width:40%" />
            <label for="Category">Категория</label>
            <select class="opt-input mr-2 ml-2" id="category" name="Category">
                <option value="0">Все</option>
                <option value="1">Разработка</option>
                <option value="2">Аналитика</option>
                <option value="3">Тестирование</option>
                <option value="4">Сопровождение</option>
                <option value="5">Управление</option>


            </select>
            <input class=" mr-2 ml-2 btn btn-primary btn-search" id="search" type="button" value="Найти" />
        </form>
    </div>
    <div class="ViewSelect ml-5" style="float:left;">
        <label for="View">Вид</label>

        <select id="ViewSelector" name="ViewSelector" class="opt-input mr-2 ml-2 fa" data-show-content="true">
            <option value="1"> 1 </option>
            <option value="4"> 4 </option>
            <option value="8"> 8 </option>
        </select>
    </div>

</div>

<div class="container" id="list" style="min-height:750px;padding:0    ">


    @*@{Html.PartialAsync("ListBooks"); }*@

</div>



