@model Library.Common.ViewModels.BookViewModel;
@{
    ViewData["Title"] = "CreateBook";
}
<script src="~/js/ChangeBookScripts.js" asp-append-version="true"></script>
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<style>
    .fa {
        font-family: FontAwesome !important;
        font-size: 20px;
    }

    .form-control {
        width: 85%;
        display: inline-block;
    }
</style>

<div class="container">
    <h3>Добавить книгу</h3>
    <form id="CreateForm">
        <div class="flex">
            <div class="flex-itm-create">
                <label asp-for="Title">Название книги</label><br />
                <input class="form-control" type="text" id="Title" value="" />
            </div>

            <div class="flex-itm-create">
                <label asp-for="Categories">Категории</label><br />

                <div class="input-group mb-3">

                    <div class="form-control" style="height:42px;" id="listValue"></div>
                    <div class="input-group-append" id="inputGroup">
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="btnDropCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-left">
                            <a class="dropdown-item" id="1">Разработка</a>
                            <a class="dropdown-item" id="2">Аналитика</a>
                            <a class="dropdown-item" id="3">Тестирование</a>
                            <a class="dropdown-item" id="4">Сопровождение</a>
                            <a class="dropdown-item" id="5">Управление</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-itm-create">
                <label asp-for="Author">Автор</label><br />
                <input class="form-control" id="Author" type="text" value="" />
            </div>

            <div class="flex-itm-create">
                <label asp-for="Language">Язык</label><br />
                <select class="form-control" id="Language">
                    <option selected value="Русский">Русский</option>
                    <option value="Английский">Английский</option>
                </select>
            </div>

            <div class="flex-itm-create">
                <label asp-for="YearOfPublication">Год издания</label><br />
                <input class="form-control" type="number" id="YearOfPublication" value="" />
            </div>

            <div class="flex-itm-create">
                <label asp-for="URL">Ссылка на электронную версию</label><br />
                <input class="form-control" type="text" id="URL" value="" />
            </div>

            <div class="flex-itm-create">
                <label asp-for="CountPages">Количество страниц</label><br />
                <input class="form-control" type="number" id="CountPages" value="" />
            </div>


            <div class="flex-itm-create">
                <label asp-for="Cover">Прикрепить обложку страницы</label><br />
                <input class="form-control" type="file" id="Cover" asp-for="Cover" />
            </div>

            <div class="flex-itm-create">
                <label asp-for="Count">Количество книг</label><br />
                <input class="form-control" type="number" id="Count" value="" />
            </div>

            <div class="flex-itm-create"></div>


            <div class="flex-itm-create">
                <label asp-for="KeyWordsName">Ключевые слова</label><br />
                <div class="KeyWordList">
                    <div class="KeyWord" id="keyword0">
                        <input type="hidden" asp-for="KeyWordsName" class="kw" name="KeyWordsName" id="hidden0" value="" />
                        <input type="text" autocomplete="off" id="0" class="keywords form-control" value="" />
                        <div class="addKeyWord" onclick="createKeyWord();">
                            <i class="fa fa-plus-square-o" onclick="" aria-hidden="true"></i>
                        </div>
                        <div class="removeKeyWord" id="remov0" onclick="removeKeyWord(0)">
                            <i type="button" class="fa fa-times" id="remove0" onclick="" aria-hidden="true"></i>
                        </div>
                        <div id="select0"></div>
                    </div>
                </div>
            </div>

            <div class="flex-itm-create">
                <label asp-for="Description">Описание</label><br />
                <textarea class="form-control" cols="70" rows="5" id="Description" value=""></textarea>
            </div>

        </div>





    </form>
    <div class="buttons"><button id="create" class="btn btn-createBook">Добавить</button><a asp-action="AllBooks" asp-controller="Library" class="btn btn-link">Отмена</a></div>
</div>
